<configuration>
    <appender name="blackhole" class="benchmarks.util.BlackholeAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="blackhole" />
    </root>
</configuration>
